body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
h3{
    color:black;
    text-align: center;
    font-size: x-large;
    font-family: papyrus;
    background-color: aqua;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
}

.note {
    background: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    margin: 20px 0;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.note h2 {
    margin-top: 0;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #35424a;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}
.animated-text {
    font-size: 3em;
    animation: fade-in 2s ease-in-out infinite;
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
